on:
  push:
    branches:
      - master
    paths:
      - web/**/*
  pull_request:
    branches:
      - master
    paths:
      - web/**/*
name: Frontend
jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    env:
      COMPOSE_FILE: .devcontainer/docker-compose.yml
    steps:
      - uses: actions/checkout@v2
      - uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - run: docker-compose run dev /bin/bash -c "cd /workspace/web && pnpm i --frozen-lockfile && pnpm format && pnpm validate && pnpm t"
